<%= provide :title, @note.title %>

<div class="note-container">
  <header class="title">
    <%= @note.title %>
  </header>
  <article class="content">
    <%= markdown @note.content %>
  </article>
  <nav class="actions">
    <div class="left">
      <%= link_to "Edit", edit_note_path(@user, @note), class: "button" %>
    </div>
    <div class="right">
      <!--<%= link_to "Share", "#", class: "button" %>-->
      <%= link_to "Delete", note_path(@user, @note), class: "button-delete",
                            method: :delete, data: {
                              confirm: "Are you sure?",
                              text: "'#{@note.title}' will be deleted.",
                              :'confirm-button-text' => 'Yes',
                              :'cancel-button-text' => 'No' } %>
    </div>
  </nav>
</div>
