<section id="hero">
  <div id="signup-box">
    <h1>Make notes wherever you are!</h1>
    <%= link_to "Sign Up Now", signup_path, class: "button" %>
  </div>
</section>

<section id="features">
  <div class="feature">
    <div class="icon-img">
      <%= icon('desktop') %>
      <%= icon('laptop') %>
      <%= icon('tablet') %>
      <%= icon('mobile') %>
    </div>
    <h3>Use everywhere</h3>
  </div>
  <div class="feature">
    <div class="icon-img">
      <%= icon('pencil-square') %>
      <%= icon('check-square') %>
    </div>
    <h3>Create notes, checklists and more</h3>
  </div>
  <div class="feature">
    <div class="icon-img">
      <%= icon('users') %>
    </div>
    <h3>Share with friends</h3>
  </div>
</section>