<% provide :title, @checklist.title %>

<div class="checklist-form">
  <%= form_for @checklist, url: checklist_path(@user, @checklist) do |f| %>
    
    <%= f.text_field :title, placeholder: "Title" %>
  
    <section class="items">
      <% @existing_items.each do |item| %>
        <%= text_field_tag "existing_items[#{item.id}]", item.description,
                                                placeholder: "Item" %>
      <% end %>
      
      <!-- Display new entered items when action is re-rendered
      because of invalid title -->
      <% @new_items.each do |index, description| %>
        <%= text_field_tag "new_items[#{index}]", description,
                                        placeholder: "Item" %>
      <% end %>
      
      <%= text_field_tag "new_items[#{@new_items.keys.last.to_i.next}]",
                          '', placeholder: "Item" %>
    </section>
    
    <%= f.submit "Save" %>
  <% end %>
</div>
