<%= provide :title, @checklist.title %>

<div class="checklist-container">
  <header class="title">
    <%= @checklist.title %>
  </header>
  <article class="content">
    <% @checklist.items.each do |item| %>
      <div class="item">
        <%= check_box_tag "item_#{item.id}", item.checked? ? '1' : '0',
            item.checked?,
            data: { remote: true,
                    url: toggle_checklist_item_url(@user, @checklist, item),
                    method: "PATCH" } %>
        <%= label_tag "item_#{item.id}", item.description %>
      </div>
    <% end %>
  </article>
  
  <%= render 'user_documents/show_actions.html.erb', document: @checklist %>
</div>
