<header class="clearfix">
  <div id="logo">
    <%= link_to root_path do %>
      <%= icon('edit') %>
    <% end %>
  </div>
  <nav>
    <% if signed_in? %>
      <%= link_to icon('cog', title: "Account Settings"), "#" %>
      <%= link_to icon('sign-out', title: "Sign out"),
                  signout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", signin_path, class: "button" %>
    <% end %>
  </nav>
</header>